.desktop {
    width: 400px;
    height: 250px;
    margin-top: -59px;
    position: relative;
    /* HAVE SCALED TO FIT THE WINDOW */
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}

    .desktop > .screen {
        width: 340px;
        height: 210px;
        position: relative;
        background: #0A3A53;
        border: 15px solid #474e5d;
        border-radius: 12px;

    }

.monitor > div {
    position: absolute;
    
}

.monitor:before,
.monitor:after {
    content: "";
    position: absolute;
    left: 50%;
}

.monitor:before {
    top: -7px;
    margin: -3px 0 0 -3px;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: #a5adbd;
}

.screen:after {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    bottom: -10px;
    margin: 0 0 -4px -4px;
    background: #e8ebf0;
}

.content {
    width: 420px;
    height: 240px;
    left: 1px;
    top: -1px;
    overflow: hidden;
}


#taskbar {
    margin-top: -10px;
}



.pg {
    width: 3px;
    height: 10px;
    position: absolute;
    left: 99.7%;
    top: 60%;
    margin: -70px 0 0 -120px;
    background: #B9BAC1;
    /*************************Animation****************************************************************/
    -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    -moz-animation: mymove 5s infinite;
    -o-animation: mymove 5s infinite;
    animation: mymove 5s infinite;
}




.base {
    width: 90px;
    height: 50px;
    bottom: -40px;
    left: 50%;
    margin-left: -45px;
    background: #e8ebf0;
    z-index: -100;
}

    .base:before,
    .base:after,
    .grey-shadow:before,
    .grey-shadow:after {
        content: "";
        position: absolute;
        top: 0;
    }

    .base:before {
        border-left: 13px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 50px solid #e8ebf0;
        left: -13px;
    }

    .base:after {
        border-right: 13px solid transparent;
        border-left: 0px solid transparent;
        border-bottom: 50px solid #e8ebf0;
        right: -13px;
    }

    .base > div {
        position: absolute;
    }

.grey-shadow {
    width: 90px;
    height: 12px;
    background: #d8dbe1;
    top: 0;
}

    .grey-shadow:before {
        border-left: 3px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 12px solid #d8dbe1;
        left: -3px;
        z-index: 2;
    }

    .grey-shadow:after {
        border-right: 3px solid transparent;
        border-left: 0px solid transparent;
        border-bottom: 12px solid #d8dbe1;
        right: -3px;
        z-index: 2;
    }

.foot {
    background: #e8ebf0;
    z-index: 1;
}

    .foot.top {
        width: 116px;
        height: 5px;
        bottom: -5px;
        left: 50%;
        margin-left: -58px;
    }

        .foot.top:before,
        .foot.top:after,
        .foot.bottom:before {
            content: "";
            position: absolute;
            top: 0px;
        }

        .foot.top:before {
            border-left: 16px solid transparent;
            border-right: 0px solid transparent;
            border-bottom: 5px solid #e8ebf0;
            left: -16px;
        }

        .foot.top:after {
            border-right: 16px solid transparent;
            border-left: 0px solid transparent;
            border-bottom: 5px solid #e8ebf0;
            right: -16px;
        }


    .foot.bottom {
        width: 150px;
        height: 5px;
        bottom: 1px;
        left: 50%;
        
        margin-left: -75px;
        z-index: -999;
    }


.shadow {
    position: absolute;
    width: 350px;
    height: 15px;
    left: 50%;
    margin-left: -175px;
    z-index: -1;
    bottom: -20px;
    background: radial-gradient(ellipse at center, rgba(128, 128, 128,30) 0%,rgba(128,128,128,1) 53%,rgba(128,128,128,1) 55%,rgba(46,204,113,0) 55%,rgba(46,204,113,0) 100%);
}



/***************************************************************Animation*********************************************************************************/



@-webkit-keyframes mymove {
    from {
        top: 40%;
    }

    to {
        top: 75%;
    }
}

@keyframes mymove {
    from {
        top: 60%;
    }

    to {
        top: 75%;
    }
}


@-moz-keyframes mymove {
    from {
        top: 60%;
    }

    to {
        top: 75%;
    }
}

@keyframes mymove {
    from {
        top: 60%;
    }

    to {
        top: 75%;
    }
}
