
/*CSS to show Grid Lines and Layout a Design Tool*/


/*article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary
{
    background-color:rgba(234, 232, 238, 0.40);
    border:1px dashed black;
    margin:0.1%;
     
}*/

/*Row with equal height columns
Credit: http://acmetech.github.io/todc-bootstrap-3/examples/equal-height-columns/*/
 
.make-row-eq-height 
{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}



.show-grid
{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(86, 61, 124, 0.15);
    border: 1px solid rgba(86, 61, 124, 0.2);
}

.show-border
{
     border:1px solid black;
}

#page-content
{
   background-color:rgba(128, 128, 128, 0.32); 
}


header 
{
    
}