body 
{
    border:1px solid #212121;
}

header 
{
    /* ToDo: Need to make this more responsive*/
    /*background-color: rgba(220, 224, 243, 0.91);*/
    height: 136px;
    
    background-color:#D1D7E6;
}

#code
{
    margin:1px;
    height:130px;
    background-image: url('../img/VS-3.png');
    background-repeat:no-repeat;
    
}

.navbar
{
    background-color:#1a293d;
}

.navbar .navbar-nav > li > a
{
    background-color:#35445c;
    margin-left:5px;
    color:#EAEFF0;
}


.navbar .navbar-nav > li > a:link
{
    background-color:#35445c;
    margin-left:5px;
    color:#EAEFF0;
}

.navbar .navbar-nav > li > a:visited
{
  
}

.navbar .navbar-nav > li > a:hover
{
   background-color:rgba(253, 240, 153, 0.70);
}

.navbar .navbar-nav > li > a:active
{
   background-color:#FDF099;
}


.navbar .navbar-nav > li > a:current
{
  
}


.profile-pic
{
    margin-top:7px;
    margin-left:20px;

    filter: drop-shadow(16px 16px 20px black);
    
}

#Pic
{
    /*background-color: rgba(220, 224, 243, 0.91);*/
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 5s;

    -webkit-animation: spin1 2s linear;
    -moz-animation: spin1 2s linear;
    -o-animation: spin1 2s linear;
     animation: spin1 2s linear;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    from {background-color: rgba(125, 145, 177, 0.59);}
    to {background-color:  rgba(220, 224, 243, 0.91);}
}

/* Standard syntax */
@keyframes example {
    from {background-color:rgba(125, 145, 177, 0.59);}
    to {background-color: rgba(220, 224, 243, 0.91);}
}




@-webkit-keyframes spin1 {
0% { -webkit-transform: rotate(0deg);}
100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin1 {
0% { -moz-transform: rotate(0deg);}
100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes spin1 {
0% { -o-transform: rotate(0deg);}
100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes spin1 {
0% { -ms-transform: rotate(0deg);}
100% { -ms-transform: rotate(360deg);}
}
@keyframes spin1 {
0% { transform: rotate(0deg);}
100% { transform: rotate(360deg);}
}








