
html
{
    
}


body 
{
    padding-top: 175px;
    background-color:rgba(44, 59, 86, 0.93);
    
}

 




#page-content
{
    
}

main
{
    background-color:#FFFFFF;
    border:1px solid #8593B4;
    margin-left:20px;
    margin-bottom:5px; 

    /*#E3E4E5*/
}


article
{
  /*Question: Should include grey gutter on left side like Visual Studio?*/

  /*margin-left: -15px;
  padding-right:5px;*/
  /*border-left:17px solid #E3E4E5;*/
}

#sidebar-2
{
    display:block;
    margin-top:-5px;
    width:210px;
    height:600px;
    font-family:Segoe UI;
    /*border:1px solid red;*/
}


#sidebar-2 .widget 
{
    display:block;
    position:relative;
    width:200px;
    height:300px;
    padding:1px;
    margin-top:5px;
    margin-left:3px;
    background-color:#FFFFFF; 
    border:1px solid #8593B4;

    

    
}

#sidebar-2 .widget > header
{
    height:25px;
    width:100%;
    margin-left:1px;
    color:black;
    font-size:medium;
    margin-top:-1px; 
    border:2px solid #FDF099; 
    background-color:#FDF099;

}


footer
{
    
    color:white;
    font-size:small;
    font-family:Segoe UI;
    background-color:#1673C3;

}

footer > p
{
    margin-bottom:20px;
}

.footer
{
    color:white;
    margin-left:5px;
} 