
html
{
    
}


body 
{
    background-color:rgba(57, 75, 108, 0.93);
}

header
{
    
}

/*.make-row-eq-height 
{
  display: -webkit-box;
  /*display: -webkit-flex;*/
  display: -ms-flexbox;
  display:         flex;
}*/



#page-content
{

}

main
{
    background-color:#FFFFFF;
    border:1px solid #8593B4;
    border-top:1px solid #27344C;

    /*margin-left:1.1%;*/
    margin-bottom:5px; 
    

    /*#E3E4E5*/
}


article
{
  /*Question: Should include grey gutter on left side like Visual Studio?*/
  /*margin-left: -15px;
  padding-right:5px;*/
  /*border-left:17px solid #E3E4E5;*/

  

}

article > p
{
    font-family:wf_segoe-ui_normal,"Segoe UI",Segoe,"Segoe WP",Tahoma,Verdana,Arial,sans-serif;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 1.5em;
}


#sidebar-2
{
    display:block;
    margin-left:2%;
    width:210px;
    height:600px;
    font-family:Segoe UI;
    border:1px solid red;
}


#sidebar-2 .widget 
{
    display:block;
    position:relative;
    width:200px;
    height:300px;
    padding:1px;
    margin-top:5px;
    margin-left:3px;
    background-color:#FFFFFF; 
    border:1px solid #8593B4;

    

    
}

#sidebar-2 .widget > header
{
    height:25px;
    width:100%;
    margin-left:1px;
    color:black;
    font-size:medium;
    margin-top:-1px; 
    border:2px solid #FDF099; 
    background-color:#FDF099;

}


footer
{
    
    color:white;
    font-size:small;
    font-family:Segoe UI;
    /*text-align: center;*/
    background-color:#1673C3;

}

footer > p
{
  margin-top:4px; 
}

footer  a 
{
    color:white;
    /*margin-left:5px;*/
}

footer  a:link 
{
    color:white;
    /*margin-left:5px;*/
}


footer  a:visited 
{
    color:white;
    /*margin-left:5px;*/
}

footer  a:hover 
{
    color:#ddd6d6;    
}  

#ViewPort
{
  position:relative;
  float:right;
  margin-top:-30px;
  height:20px;
  width:136px;
}