
div [class="row"] {
    border: 1px dashed black;
}



div [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(86, 61, 124, 0.15);
    border: 1px solid rgba(86, 61, 124, 0.2);
}

container, sidebar
{
    display:block;
}


article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary, container, sidebar [class="row"] 
{
    border: 1px dashed black;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary, container, sidebar [class^="col-"] 
{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(86, 61, 124, 0.15);
    border: 1px solid rgba(86, 61, 124, 0.2);
}


/*Row with equal height columns
Credit: http://acmetech.github.io/todc-bootstrap-3/examples/equal-height-columns/*/

.make-row-eq-height {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}





body {
}
