@section css{ <link href="~/Themes/VS-1/css/Elegant.css" rel="stylesheet" /> }

<div class="panel panel-primary">
    <div class="panel-heading">Contact Info</div>
    <div class="panel-body">
        
        

            <div class="detail" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span class="icon"><i class="icon fs-lg icon-location"></i></span>
                <span class="info" itemprop="addressRegion">West Virginia, US</span>
            </div>

            <div class="detail">
                <span class="icon"><i class="icon fs-lg icon-exercism"></i></span>
                <span itemprop="chat" class="info">
                    <a class="ChatLink" href="https://gitter.im/kbdavis07/resume" rel="tooltip" data-placement="right" title="Contact me on Gitter Live Chat">
                        <!--<img class="ChatImg" src="https://badges.gitter.im/Join%20Chat.svg">  </img> -->
                        Chat Now

                    </a>
                </span>
            </div>


            <div class="detail">
                <span class="icon"><i class="icon fs-lg icon-mail"></i></span><span class="info"> <a href="" itemprop="email" class="link-disguise"> Kbdavis07@yahoo.com</a> </span>
            </div>

            <div class="detail"><span class="icon"><i class="icon fs-lg icon-phone"></i></span><span itemprop="telephone" class="info">(304) 506.3149</span></div>


            <div class="detail">
                <span class="icon"><i class="icon fs-lg icon-link"></i></span>
                <span class="info"><a href="http://Kbdavis07.com" target="_blank" itemprop="url">http://Kbdavis07.com</a></span>
            </div>



            <div class="detail">
                <span title="Languages I speak" class="icon"><i class="icon fs-lg icon-language"></i></span>
                <span class="info">English</span>
            </div>
</div>
    
</div>


<script>
  ((window.gitter = {}).chat = {}).options = {
    room: 'kbdavis07/resume',
	activationElement: '.ChatLink'
    //targetElement: '.profile-card-wrapper' 
  };
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>





