
<div class="panel panel-default">
    <div class="panel-heading">News</div>
    <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
    </div>
    <div class="text-center">
        <a href="#"><i class="fa fa-plus"></i>Full Story</a>
    </div>
</div>
