<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <connectionStrings>
    
    <!--<add name="KB-dev"
     connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\kb.mdf;Integrated Security=True"
     providerName="System.Data.SqlClient"/>

    <add name="KB-remote"
     connectionString="Data Source=blue.mysitehosted.com;Initial Catalog=kbdavis07;uid=kbdavis07;pwd=BDavis28!!"
     providerName="System.Data.SqlClient"/>

    <add name="KB-server"
     connectionString="Data Source=127.0.0.1;Initial Catalog=kbdavis07;uid=kbdavis07;pwd=BDavis28!!"
     providerName="System.Data.SqlClient"/>-->

    <add name="DefaultConnection" 
     connectionString="Data Source=blue.mysitehosted.com;Initial Catalog=kbdavis07;User ID=kbdavis07; pwd=BDavis28!!" providerName="System.Data.SqlClient" />


  </connectionStrings>
  
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6" />
  
   <!-- enableVersionHeader - Remove the ASP.NET version number from the response headers. Added security through obscurity. -->
    <!-- executionTimeout - Specifies the maximum number of seconds that a request is allowed to execute before being automatically shut down by ASP.NET. 
                            This time-out applies only if the debug attribute in the compilation element is False. To help to prevent shutting down the 
                            application while you are debugging, do not set this time-out to a large value. The default is 110 seconds and has 
                            been reduced to 30 seconds. -->
    <!-- maxQueryStringLength - The maximum length of the query string, in number of characters. The default is 2048.  If the length of a query string 
                                exceeds the size limit, ASP.NET returns an HTTP 400 (Bad Request) status code. This setting is for ASP.NET while the 
                                requestLimits maxQueryString setting is for IIS, you need to set both to the same value. -->
    <!-- maxRequestLength - Specifies the limit for the input stream buffering threshold, in KB. This limit can be used to prevent denial of service 
                            attacks that are caused, for example, by users posting large files to the server. The default is 4096 (4 MB) and has been 
                            reduced to 1024 (1 MB). This setting is for ASP.NET while the requestLimits maxAllowedContentLength setting is for IIS, 
                            you need to set both to the same value or the smaller number wins (See http://stackoverflow.com/questions/6327452/which-gets-priority-maxrequestlength-or-maxallowedcontentlength). -->
    <!-- maxUrlLength - The maximum length of the URL, in number of characters. The default is 260. If the length of the request URL (which is the value 
                        of the Path property https://msdn.microsoft.com/en-us/library/vstudio/system.web.httprequest.path(v=vs.100).aspx) exceeds the 
                        configured size limit, ASP.NET returns an HTTP 400 (Bad Request) status code. This setting is for ASP.NET while the requestLimits 
                        maxUrl setting is for IIS, you need to set both to the same value. --> 
  <httpRuntime enableVersionHeader="false" executionTimeout="30" maxQueryStringLength="2048" maxRequestLength="1024" maxUrlLength="260" targetFramework="4.5" />
    
  
  </system.web>
  <system.webServer>
    
    <rewrite>
      <rules>
      
         <rule name="Cannonical Hostname">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTP_HOST}" pattern="^kbdavis07\.com$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="http://kbdavis07.com/{R:1}" />
                </rule>
    
      <rule name="Index Default" enabled="true" stopProcessing="true">
          <match url="(.*)" ignoreCase="true" />

          <conditions>
            <add input="{HTTP_HOST}" pattern="(.*?)/?Index$" />

          </conditions>
          <action type="Redirect" url="{R:1}/"  redirectType="Permanent" />
        </rule>
    
    
    
    
    
    
      </rules >
    </rewrite >  
    
    
    
    
      
    
    
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  
   <httpProtocol>
      <customHeaders>
        <!-- X-Powered-By - Remove the HTTP header for added security and a slight performance increase. -->
        <clear />
        <!-- X-UA-Compatible - Ensure that IE and Chrome frame is using the latest rendering mode. Alternatively, use the HTML meta tag X-UA-Compatible "IE=edge" -->
        <add name="X-UA-Compatible" value="IE=edge,chrome=1" />
      </customHeaders>
    </httpProtocol>
    
    
  
  
      
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>