@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div itemscope itemtype="http://schema.org/Person">
    <a itemprop="url" href="http://kbdavis07.com">
        <div itemprop="name"><strong>Brian Keith Davis</strong></div>
    </a>
    <div itemprop="jobtitle">Asp.Net MVC C# Web Application Developer</div>
    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <div>P.O. Box: <span itemprop="postOfficeBoxNumber">169</div>
        <div><span itemprop="addressLocality">Shenandoah Junction</span>, <span itemprop="addressRegion">WV</span></div>
        <div itemprop="postalCode">25442</div>
        <div itemprop="addressCountry">USA</div>
    </div>
    <div itemprop="email">kbdavis07@yahoo.com</div>
    <div itemprop="telephone">3045063149</div>
    <div>
        <meta itemprop="birthDate" content="1981-01-28">DOB: 01/28/1981
    </div>
</div>
















<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>



@section sidebar2{


    <div class="row">
        <div id="widget-1" class="widget col-md-1 col-md-offset-1">
            <header>Contact Info</header>
        </div>
    </div>
}