


<section class="col-md-12 card-wrapper">
    <div class="card background-card box">
        <h4 class="text-uppercase"> Resume </h4><hr />

        <div class="background-details">
            <div id="about" class="detail">

                <div class="icon"><i class="fs-lg icon-board"></i><span class="mobile-title">Objective</span></div>

                <div class="info">

                    <h4 class="title text-uppercase">Objective</h4>

                    <div itemprop="description">

                        Seeking to grow and maintain a career in Web Application Development with experience in multiple areas
                        including: Server and Client side development, technical writing, support and training. Enjoys solving
                        business problems using the latest and greatest technologies available and always expanding my technical
                        knowledge through continuous learning.
                    </div>
                </div>
            </div>



            <div id="skills" class="detail">
                <div class="icon"><i class="fs-lg icon-tools"></i><span class="mobile-title">Skills</span></div>
                <div class="info">

                    <h4 class="title text-uppercase">Skills</h4>

                    <!----------------------- Skill Levels beginner,intermediate,advanced,master --->
                    <!----------------------- Revision Control --->

                    <div class="content">
                        <ul class="list-unstyled">


                            <li class="card card-nested card-skills">
                                <div rel="tooltip" title="Master" data-placement="left" class="skill-level">
                                    <div class="skill-progress master"></div>
                                </div>

                                <div class="skill-info">
                                    <strong>Server Side (Back-End)</strong>
                                    <div class="space-top labels">
                                        <span class="label label-keyword">Asp.Net</span>
                                        <span class="label label-keyword">C#</span>
                                        <span class="label label-keyword">MVC</span>
                                        <span class="label label-keyword">Razor</span>
                                        <span class="label label-keyword">Web Services (RESTful/Web API)</span>
                                    </div>
                                </div>

                            </li>


                            <li class="card card-nested card-skills">
                                <div rel="tooltip" title="Master" data-placement="left" class="skill-level">
                                    <div class="skill-progress master"></div>
                                </div>

                                <div class="skill-info">
                                    <strong>Client Side (Front-End)</strong>
                                    <div class="space-top labels">
                                        <span class="label label-keyword">HTML5</span>
                                        <span class="label label-keyword">CSS3</span>
                                        <span class="label label-keyword">Javascript</span>
                                        <span class="label label-keyword">AJAX</span>
                                        <span class="label label-keyword">Jquery</span>
                                        <span class="label label-keyword">Angular.JS</span>
                                    </div>
                                </div>

                            </li>


                            <li class="card card-nested card-skills">
                                <div rel="tooltip" title="Master" data-placement="left" class="skill-level">
                                    <div class="skill-progress master"></div>
                                </div>

                                <div class="skill-info">
                                    <strong>Data Access (ORM/Databases)</strong>
                                    <div class="space-top labels">
                                        <span class="label label-keyword">Entity Framework</span>
                                        <span class="label label-keyword">Microsoft SQL</span>
                                        <span class="label label-keyword">In-Memory</span>
                                        <span class="label label-keyword">MySQL</span>
                                    </div>
                                </div>

                            </li>



                            <li class="card card-nested card-skills">
                                <div rel="tooltip" title="Master" data-placement="left" class="skill-level">
                                    <div class="skill-progress master"></div>
                                </div>

                                <div class="skill-info">
                                    <strong>Data Formats</strong>
                                    <div class="space-top labels">
                                        <span class="label label-keyword">JSON</span>
                                        <span class="label label-keyword">XML</span>
                                    </div>
                                </div>
                            </li>



                            <li class="card card-nested card-skills">
                                <div rel="tooltip" title="Advanced" data-placement="left" class="skill-level">
                                    <div class="skill-progress advanced"></div>
                                </div>

                                <div class="skill-info">
                                    <strong>Revision Control</strong>
                                    <div class="space-top labels">
                                        <span class="label label-keyword">GitHub</span>
                                        <span class="label label-keyword">TFS</span>

                                    </div>
                                </div>
                            </li>


                            <li class="card card-nested card-skills">
                                <div rel="tooltip" title="Beginner" data-placement="left" class="skill-level">
                                    <div class="skill-progress beginner"></div>
                                </div>

                                <div class="skill-info">
                                    <strong>Cloud</strong>
                                    <div class="space-top labels">
                                        <span class="label label-keyword">Azure</span>
                                        <span class="label label-keyword">AWS</span>

                                    </div>
                                </div>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>










            <div id="work-experience" class="detail">

                <div class="icon">
                    <i class="fs-lg icon-office"></i>
                    <span class="mobile-title">Work Experience</span>
                </div>



                <div class="info">
                    <h4 class="title text-uppercase">Work Experience</h4>

                    <ul class="list-unstyled">
                        <li class="card card-nested clearfix">
                            <div class="content">
                                <p class="clear-margin relative"><strong>Owner   </strong>,&nbsp;<a href="http://BloggersOnline.com" target="_blank">BloggersOnline.Com</a></p>

                                <p class="text-muted">
                                    <small>
                                        <span class="space-right">May, 2012 - Present</span>
                                        <span><i class="icon-clock mr-5"></i>3+ years</span>
                                    </small>
                                </p>

                                <p>
                                    BloggersOnline.com is a Windows Web hosting company which provides a one stop site for a customer's website needs which they can buy web hosting domain names, and SSL certificates all from one location. As owner of the web hosting company I have many different responsibilities and had learn many different skills.
                                </p>

                                <p>
                                    These range from providing customers technical support when needed for their websites which could include debugging their websites, offering advice and business consultation on how to improve their website and troubleshooting Windows Server 2012, SQL Server, and WebSitePanel.
                                </p>


                                <div id="tags">
                                    <b>Skills:</b>
                                    <ul class="list-unstyled tags">
                                        <li><a href="#">Asp.net 4.5</a></li>
                                        <li><a href="#">C#</a></li>
                                        <li><a href="#">MVC</a></li>
                                        <li><a href="#">Web Services</a></li>
                                        <li><a href="#">Technical Support</a></li>
                                        <li><a href="#">Project Management</a></li>
                                        <li><a href="#">Business Analysis</a></li>
                                        <li><a href="#">SEO</a></li>
                                        <li><a href="#">Google Analytics</a></li>

                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <br /><br />


                    <ul class="list-unstyled">
                        <li class="card card-nested clearfix">
                            <div class="content">
                                <p class="clear-margin relative"><strong>Web Application Developer, B2B Contract, Wynquest Technical Solutions Ltd.</strong>,&nbsp;<a href="bscc.ca" target="_blank">Business Solutions & Credit Counselling Services</a></p>

                                <p class="text-muted">
                                    <small>
                                        <span class="space-right">Jan 2012 to Dec 2012</span>
                                        <span><i class="icon-clock mr-5"></i>11 months</span>
                                    </small>
                                </p>

                                <p>
                                    Updated client to latest version of BlogEngine.net for their client's website Business Solutions and Credit Counseling Services (BSCC)  http://bscc.ca .  Added some custom functions to website to improve SEO.  Made theme adjustments to work with current version of BlogEngine.net.  Help train client on how to best use the web application.
                                </p>


                                <div id="tags">
                                    <b>Skills:</b>
                                    <ul class="list-unstyled tags">
                                        <li><a href="">Asp.net 4.5</a></li>
                                        <li><a href="#">C#</a></li>
                                        <li><a href="#">Web Forms</a></li>
                                        <li><a href="#">Project Management</a></li>
                                        <li><a href="#">Business Analysis</a></li>
                                        <li><a href="#">Source Code Documentation</a></li>
                                        <li><a href="#">SEO</a></li>
                                        <li><a href="#">Google Analytics</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>


            <br /><br />





           


            <div id="education" class="detail">

                <div class="icon"> <i class="fs-lg icon-graduation-cap"></i><span class="mobile-title">Education</span></div>


                <div class="info">
                    <h4 class="title text-uppercase">Education</h4>

                    <div class="content">
                        <ul class="list-unstyled">
                            <li class="card card-nested">
                                <div class="content">
                                    <p class="clear-margin relative">
                                        <strong>Information Systems, Bachelor of Science,&nbsp;</strong>American Sentinel University (Aurora, Co)
                                    </p>

                                    <p class="text-muted"><small>In progress expected graduation June, 2016</small></p>

                                    <div class="space-top labels">

                                        <h3>Web Application Development</h3>

                                        <span class="label label-keyword">C# Programming</span>
                                        <span class="label label-keyword">Server-Side Web Programming Using ASP.NET</span>
                                        <span class="label label-keyword">Database Applications</span>
                                        <span class="label label-keyword">Advanced Database Systems</span>
                                        <span class="label label-keyword">Web Design I</span>
                                        <span class="label label-keyword">Web Design II</span>
                                        <span class="label label-keyword">Enhancing Web Pages with JavaScript</span>
                                        <span class="label label-keyword">XML Applications Development</span>
                                        <span class="label label-keyword">Web Multimedia Productions</span>

                                        <h3>Business</h3>

                                        <span class="label label-keyword">Enterprise Information Systems</span>
                                        <span class="label label-keyword">Business Process Management</span>
                                        <span class="label label-keyword">E-Business Strategy, Architecture, and Design</span>
                                        <span class="label label-keyword">Principles of Business Communications</span>
                                        <span class="label label-keyword">Information Technology Project Management</span>
                                        <span class="label label-keyword">Information Systems Analysis and Design</span>
                                        <span class="label label-keyword">IT Hardware and Systems Software</span>
                                    </div>


                                </div>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>



            @*<div id="references" class="detail">

                    <div class="icon"><i class="fs-lg icon-thumbs-up"></i><span class="mobile-title">References</span></div>

                    <div class="info">

                        <h4 class="title text-uppercase">References</h4>

                        <div class="content">

                            <ul class="list-unstyled">

                                <li class="card card-nested">
                                    <p><strong>Erlich Bachman</strong></p>
                                    <blockquote class="quote">
                                        <p class="clear-margin">It is my pleasure to recommend Richard, his performance working as a consultant for Main St. Company proved that he will be a valuable addition to any company.</p>
                                    </blockquote>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>*@


        </div>
    </div>
</section>

