<section class="col-md-9 card-wrapper pull-left">
    <div class="card background-card box">
        <h4 class="text-uppercase"> Resume </h4><hr />

        <div class="background-details">
            <div id="about" class="detail">

                <div class="icon"><i class="fs-lg icon-board"></i><span class="mobile-title">Objective</span></div>

                <div class="info">

<h4 class="title text-uppercase">Objective</h4>

<div itemprop="description" class="content">

Seeking to grow and maintain a career in Web Application Development with experience in multiple areas
    including: Server and Client side development, technical writing, support and training. Enjoys solving
    business problems using the latest and greatest technologies available and always expanding my technical
    knowledge through continuous learning.
</div>


                </div>
            </div>



            <div id="skills" class="detail">
                <div class="icon"><i class="fs-lg icon-tools"></i><span class="mobile-title">Skills</span></div>
                <div class="info">

                    <h4 class="title text-uppercase">Skills</h4>

                    <!----------------------- Skill Levels beginner,intermediate,advanced,master --->
                    <!----------------------- Revision Control --->

                    <div class="content">
                        <ul class="list-unstyled">

                            <div class="row">

                                <li class="card card-nested card-skills col-md-6">
                                    <div rel="tooltip" title="Master" data-placement="left" class="skill-level">
                                        <div class="skill-progress master"></div>
                                    </div>

                                    <div class="skill-info">
                                        <strong>Server Side (Back-End)</strong>
                                        <div class="space-top labels">
                                            <span class="label label-keyword">Asp.Net 4.5	</span>
                                            <span class="label label-keyword">C#</span>
                                            <span class="label label-keyword">MVC</span>
                                            <span class="label label-keyword">Razor</span>
                                            <span class="label label-keyword"> <small>Web Services (RESTful/Web API)</small> </span>
                                        </div>
                                    </div>
                                </li>



                                <li class="card card-nested card-skills col-md-6">
                                    <div rel="tooltip" title="Master" data-placement="left" class="skill-level">
                                        <div class="skill-progress master"></div>
                                    </div>

                                    <div class="skill-info">
                                        <strong>Client Side (Front-End)</strong>
                                        <div class="space-top labels">
                                            <span class="label label-keyword">HTML5</span>
                                            <span class="label label-keyword">CSS3</span>
                                            <span class="label label-keyword">Javascript</span>
                                            <span class="label label-keyword">AJAX</span>
                                            <span class="label label-keyword">Jquery</span>
                                            <span class="label label-keyword">Angular.JS</span>

                                        </div>
                                    </div>

                                </li>
                            </div>



                            <div class="row">
                                <li class="card card-nested card-skills col-md-6">
                                    <div rel="tooltip" title="Advanced" data-placement="left" class="skill-level">
                                        <div class="skill-progress advanced"></div>
                                    </div>

                                    <div class="skill-info">
                                        <strong>Data Access (ORM/Databases)</strong>
                                        <div class="space-top labels">
                                            <span class="label label-keyword">Entity Framework</span>
                                            <span class="label label-keyword">Microsoft SQL</span>
                                            <span class="label label-keyword">MySQL</span>
                                            <span class="label label-keyword">In-Memory</span>
                                        </div>
                                    </div>

                                </li>



                                <li class="card card-nested card-skills col-md-6">
                                    <div rel="tooltip" title="Master" data-placement="left" class="skill-level">
                                        <div class="skill-progress master"></div>
                                    </div>

                                    <div class="skill-info">
                                        <strong>Data Formats</strong>
                                        <div class="space-top labels">
                                            <span class="label label-keyword">JSON</span>
                                            <span class="label label-keyword">XML</span>
                                        </div>
                                    </div>

                                </li>

                            </div>

                            <div class="row">

                                <li class="card card-nested card-skills col-md-6">
                                    <div rel="tooltip" title="Intermediate" data-placement="left" class="skill-level">
                                        <div class="skill-progress intermediate"></div>
                                    </div>

                                    <div class="skill-info">
                                        <strong>Revision Control</strong>
                                        <div class="space-top labels">
                                            <span class="label label-keyword">GitHub</span>
                                            <span class="label label-keyword">BitBucket</span>
                                            <span class="label label-keyword">Team Foundation Server (TFS)</span>
                                        </div>
                                    </div>

                                </li>

                                <li class="card card-nested card-skills col-md-6">
                                    <div rel="tooltip" title="beginner" data-placement="left" class="skill-level">
                                        <div class="skill-progress beginner"></div>
                                    </div>

                                    <div class="skill-info">
                                        <strong>Cloud</strong>
                                        <div class="space-top labels">
                                            <span class="label label-keyword">Azure</span>
                                            <span class="label label-keyword">Amazon Web Services (AWS)</span>

                                        </div>
                                    </div>

                                </li>
                            </div>





                        </ul>
                    </div>
                </div>
            </div>









            <div id="work-experience" class="detail">
                <div class="icon"><i class="fs-lg icon-office"></i><span class="mobile-title">Work Experience</span></div>
                <div class="info">
                    <h4 class="title text-uppercase">Work Experience</h4>
                    <ul class="list-unstyled">
                        <li class="card card-nested clearfix">
                            <div class="content">
                                <p class="clear-margin relative"><strong>CEO/President</strong>,&nbsp;<a href="http://piedpiper.com" target="_blank">Pied Piper</a></p>
                                <p class="text-muted">
                                    <small>
                                        <span class="space-right">Dec, 2013 - Dec, 2014</span>
                                        <span><i class="icon-clock mr-5"></i>11 months</span>
                                    </small>
                                </p>

                                <p>
                                    Pied Piper is a multi-platform technology based on a proprietary universal compression algorithm that has consistently fielded high Weisman Scores™
                                    that are not merely competitive, but approach the theoretical limit of lossless compression.
                                </p>

                                <ul>
                                    <li>Build an algorithm for artist to detect if their music was violating copy right infringement laws</li>
                                    <li>Successfully won Techcrunch Disrupt</li>
                                    <li>Optimized an algorithm that holds the current world record for Weisman Scores</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>








            <div id="education" class="detail"><div class="icon"><i class="fs-lg icon-graduation-cap"></i><span class="mobile-title">Education</span></div><div class="info"><h4 class="title text-uppercase">Education</h4><div class="content"><ul class="list-unstyled"><li class="card card-nested"><div class="content"><p class="clear-margin relative"><strong>Information Technology, Bachelor,&nbsp;</strong>University of Oklahoma</p><p class="text-muted"><small>Jun, 2011 - Jan, 2014</small></p><i>4.0</i><div class="space-top labels"><span class="label label-keyword">DB1101 - Basic SQL</span><span class="label label-keyword">CS2011 - Java Introduction</span></div></div></li></ul></div></div></div><div id="awards" class="detail"><div class="icon"><i class="fs-lg icon-trophy"></i><span class="mobile-title">Awards</span></div><div class="info"><h4 class="title text-uppercase">Awards</h4><div class="content"><ul class="list-unstyled"><li class="card card-nested"><div class="content"><p itemprop="award" class="clear-margin"><strong>Digital Compression Pioneer Award </strong>Techcrunch</p><p class="text-muted"><small>Awarded on: Nov 01, 2014</small></p><p class="clear-margin">There is no spoon.</p></div></li></ul></div></div></div><div id="volunteer-work" class="detail"><div class="icon"><i class="fs-lg icon-child"></i><span class="mobile-title">Volunteer Work</span></div><div class="info"><h4 class="title text-uppercase">Volunteer Work</h4><div class="content"><ul class="list-unstyled"><li class="card card-nested"><div class="content"><p class="clear-margin relative"><strong>Teacher, </strong><a href="http://coderdojo.com/" target="_blank">CoderDojo</a></p><p class="text-muted"><small>Jan, 2012 - Jan, 2013</small></p><p>Global movement of free coding clubs for young people.</p><ul><li>Awarded 'Teacher of the Month'</li></ul></div></li></ul></div></div></div><div id="publications" class="detail"><div class="icon"><i class="fs-lg icon-newspaper"></i><span class="mobile-title">Publications</span></div><div class="info"><h4 class="title text-uppercase">Publications</h4><div class="content"><ul class="list-unstyled"><li class="card card-nested"><div class="content"><p class="clear-margin"><strong><a href="http://en.wikipedia.org/wiki/Silicon_Valley_(TV_series)" target="_blank">Video compression for 3d media</a>&nbsp;,&nbsp;</strong>Hooli</p><p class="text-muted"><small>Published on: Oct 01, 2014</small></p><p class="clear-margin">Innovative middle-out compression algorithm that changes the way we store data.</p></div></li></ul></div></div></div><div id="interests" class="detail"><div class="icon"><i class="fs-lg icon-heart"></i><span class="mobile-title">Interests</span></div><div class="info"><h4 class="title text-uppercase">Interests</h4><div class="content"><ul class="list-unstyled"><li class="card card-nested"><p><strong>Wildlife</strong></p><div class="space-top labels"><span class="label label-keyword">Ferrets</span><span class="label label-keyword">Unicorns</span></div></li></ul></div></div></div>


            <div id="references" class="detail">

                <div class="icon"><i class="fs-lg icon-thumbs-up"></i><span class="mobile-title">References</span></div>

                <div class="info">

                    <h4 class="title text-uppercase">References</h4>

                    <div class="content">

                        <ul class="list-unstyled">

                            <li class="card card-nested">
                                <p><strong>Erlich Bachman</strong></p>
                                <blockquote class="quote">
                                    <p class="clear-margin">It is my pleasure to recommend Richard, his performance working as a consultant for Main St. Company proved that he will be a valuable addition to any company.</p>
                                </blockquote>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

